<%= form_for(quote) do |f| %>
  <% if quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="field">
        <div class="input_fields_wrap">
        <button class="add_field_button">Add More Fields</button>
          <div class="field">
            <label for="quote_text_en">Text en</label><br>
            <textarea name="quote[text_en][]" id="quote_text_en"></textarea><br>
            <label for="quote_text_es">Text es</label><br>
            <textarea name="quote[text_es][]" id="quote_text_es"></textarea>
          </div>
      </div>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
